.menu {
   display: flex;
   gap: 30px;
   background: url("../../assets/images/bg-sidebar-mobile.svg");
   width: 100%;
   justify-content: center;
   padding-top: 30px;
   height: 170px;

   div {
      border: 2px solid white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
         font-weight: 500;
         color: white;
      }
   }
}