/** @format */

.App {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: hsl(206, 94%, 87%);
   max-width: 375px;

   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .forms {
         display: flex;
         flex-direction: column;
         align-items: center;

         .navigation {
            background: white;
            padding: 20px 0;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            button {
               margin-right: 20px;
               padding: 10px 20px;
               background: hsl(213, 96%, 18%);
               color: white;
               border-radius: 5px;
               border: none;
               cursor: pointer;
               transition: .3s ease-in;
            }

            button:hover {
               background: hsl(243, 100%, 62%);
            }
         }
      }
   }
}
