/** @format */

@font-face {
   font-family: ubuntu-regular;
   src: url("../src/assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
   font-family: ubuntu-bold;
   src: url("../src/assets/fonts/Ubuntu-Bold.ttf");
}
@font-face {
   font-family: ubuntu-medium;
   src: url("../src/assets/fonts/Ubuntu-Medium.ttf");
}

* {
   font-family: ubuntu-regular;
   margin: 0;
   padding: 0;
}

p {
   font-size: 16px;
}
